<ng-container>
  <h5 class="has-text-weight-bold has-text-left mb-4">Password Reset</h5>
  <form [formGroup]="form">
    <div class="field">
      <div class="control">
        <input
          class="input"
          type="text"
          formControlName="email"
          placeholder="Registered Email *"
        />
      </div>
      <small
        class="help"
        *ngIf="form.controls.email.touched && form.controls.email.invalid"
        >Enter a valid email address</small
      >
    </div>
    <div class="reset-btn">
      <button
        class="button is-small"
        [class.is-loading]="processing"
        [disabled]="processing"
        (click)="submit()"
      >
        Reset
      </button>
    </div>
  </form>
  <div class="txt has-text-left mt-4" routerLink="./sign-up">
    Sign In <span class="has-pointer has-color-blue" routerLink="">here</span>
  </div>
</ng-container>
