/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}

/* dark mode */
body.dark,
body.dark .card,
body.dark Input {
  background: #000;
  color: #fff;
}

body.dark .card {
  border: solid 1px;
}

body.dark Input::placeholder {
  color: whitesmoke;
}

/* end dark mode style */

.card,
.control Input {
  border-radius: 12px;
}

Input::placeholder {
  font-size: 13px;
}

.has-color-navy-blue {
  color: #0c3680;
}

.has-color-blue {
  color: #0e78d5;
}

.has-color-black {
  color: #000000;
}

.has-pointer {
  cursor: pointer;
}

.help {
  color: red;
  text-align: left;
}

.txt {
  font-size: 12px;
}

button {
  min-width: 5rem;
  color: #ffffff !important;
  border-radius: 12px !important;
  background-color: #0e78d5 !important;
}
